body{
    height:50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
}
.links{
    height:max-content;
    width: 100vw;
    display: flex;
    justify-content: center;
}
span{
    padding-top: 1%;
    padding-right: 3%;
    padding-bottom: 3%;
    margin-left: 1%;
    padding-left: 1%;
    color: white;
    border: 2px solid white;
}